<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" verbose="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Helper classes for PHP Developments">
            <directory>./src/Helper/Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/Helper/</directory>
            <exclude>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>